[Unit]
Description=guncorn daemon
Requires=app.socket
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/collab
ExecStart=/usr/local/bin/gunicorn --workers 4 --bind unix:/run/gunicorn.sock --worker-class uvicorn.workers.UvicornWorker

[Install]
WantedBy=multi-user.target
