@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

:root {
  --backgroundLight: #fff;
  --backgroundDark: #1A1A1D;
  --textColorLight: #1a1a1d;
  --textColorDark: #fff;
  --successBtn: #3afe11;
  --sidebar-width: 320px;
  --grid-columns: repeat(auto-fill, minmax(280px, 30%));
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#template {
  height: 100vh;
}

input.input100 {
	outline: none;
	border: none;
}

/* textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
} */

.input100:focus::-webkit-input-placeholder { color:transparent; }
.input100:focus:-moz-placeholder { color:transparent; }
.input100:focus::-moz-placeholder { color:transparent; }
.input100:focus:-ms-input-placeholder { color:transparent; }



.input100::-webkit-input-placeholder { color: #999999;}
.input100:-moz-placeholder { color: #999999;}
.input100::-moz-placeholder { color: #999999;}
.input100:-ms-input-placeholder { color: #999999;}




label {
  display: block;
  margin: 0;
}

.m-r-5 {margin-right: 5px;}

/*---------------------------------------------*/
.login100-form-btn {
	outline: none !important;
	border: none;
	background: transparent;
}

.login100-form-btn:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ utility ]*/

/*==================================================================
[ Text ]*/
.txt1 {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 1.4;
  color: #555555;
}

.txt2 {
  font-family: Montserrat;
  font-size: 13px;
  line-height: 1.4;
  color: #999999;
}


/*==================================================================
[ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%;
}

.size2 {
  width: calc(100% - 43px);
}

/*==================================================================
[ Background ]*/
.bg1 {background: #3b5998;}
.bg2 {background: #1da1f2;}
.bg3 {background: #cd201f;}


/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.flex-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.wrap-login100 {
  width: 100%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

.p-t-3 {padding-top: 3px;}
.p-b-32 {padding-bottom: 32px;}
.w-full {width: 100%;}

/*==================================================================
[ login more ]*/
.login100-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.text-center {text-align: center;}

.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.1);
}



/*==================================================================
[ Form ]*/

.login100-form {
  width: 560px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 173px 55px 55px 55px;
}

.p-b-43 {padding-bottom: 43px;}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}



/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 10px;
}

.label-input100 {
  font-family: Montserrat;
  font-size: 18px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding-left: 24px;
  left: 0;
  top: 30px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Montserrat;
  font-size: 18px;
  color: #555555;
  line-height: 1.2;
  padding: 0 26px;
}

input.input100 {
  height: 100%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #6675df;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.eff-focus-selection {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.input100:focus {
  height: 48px;
}

.input100:focus + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}

.persistPosition {
  top: 14px;
  font-size: 13px;
}



.has-val {
  height: 48px !important;
}

.has-val + .focus-input100 + .label-input100 {
  top: 14px;
  font-size: 13px;
}

/*==================================================================
[ Restyle Checkbox ]*/

.input-checkbox100 {
  display: none;
}

.label-checkbox100 {
  font-family: Poppins;
  font-size: 13px;
  color: #999999;
  line-height: 1.4;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #6675df;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox100:checked + .label-checkbox100::before {
  color: #6675df;
}


/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.p-t-46 {padding-top: 46px;}
.p-b-20 {padding-bottom: 20px;}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #6675df;

  font-family: Montserrat;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .login100-form {
    width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .login100-more {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .login100-form {
    width: 100%;
  }

  .login100-more {
    display: none;
  }
}

@media (max-width: 576px) {
  .login100-form {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 70px;
  }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.company-title {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 24px;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 100;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  z-index: 110;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 18px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



/*==================================================================
[ Social ]*/
.login100-form-social-item {
  width: 36px;
  height: 36px;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
}

.login100-form-social-item:hover {
  background: #333333;
  color: #fff;
}

.flex-sb-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}



.videoThumb {
  background-color: #e5e0e0 !important;
}


.homeBanner {
  position: relative;
  background: url(./images/concert.webp) no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  width: 100%;
  height: 90vh;
  animation: swingbanner 3s infinite ease-in-out linear;

}

.textWrapper {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 40px;
}

.thumbnailWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
}

.thumbnailTemplates {
  width: 31%;
  border: 3px solid #999;
  background-color: #e4e4e4;
  border-radius: 10px;
  height: 120px;
  position: relative;
  cursor: pointer;
}



.thumbnails {
  width: 31%;
  border: 3px solid #999;
  background-color: #e4e4e4;
  border-radius: 10px;
  height: 120px;
  position: relative;
  cursor: pointer;
}
.avatar-uploader {
  width: 31%;
  background-color: rgba(237, 240, 241, 0.2);
  border-radius: 10px;
  height: 120px;
  position: relative;
  cursor: pointer;
  overflow-y: hidden;
}

.uploader-wrapper{
  width: 31%;
  height: 120px;
  position: relative;
  overflow-y: hidden;
  border-radius: 10px;
  border:2px dashed blue;
}

.checker::after {
  content: "\2713";
  position: absolute;
  background-color: rgba(26, 26, 29, .2);
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 5px;
  top:0;
  left:0;
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  color: var(--textColorDark);
}

.overlayImg {
  background-color: rgba(26, 26, 29, .5);
  position: absolute;
  color: white;
  font-size: 16px;
  display: none;
  justify-content: center;
  align-items: center;
  top:0;
  left:0;
  z-index: 99;
  width: 100%;
  height: 120px;
}

.profile-pic {
  display: flex;
  align-items: center;
}

.profile-metadata {
  font-family: Roboto;
  padding-left: 20px;
  line-height: 28px;
  font-size: 14px;
  font-weight: 500;
}

.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 5vw;
}

.channel_content {
  padding: 7px 5vw;
  padding-bottom: 0.1px;
  position: relative;
  border-bottom:1px solid #ccc;
  overflow-x: hidden;
  display:flex;
}

.tabWrapper {
  position: relative;
  overflow-x: hidden;
  max-width: 960px;
}


.tabContent {
  padding: 10px 5vw;
}

.tabContent > div {
  font-family: Roboto, sans-serif;
}

.channel_tabs {
  line-height: 45px;
  font-size: 14px;
  display: flex;
  flex-wrap: nowrap;
  font-family: Roboto;
  font-size: 16px;
  color: #8a8a8d;
  transition: all 0.2s linear;
}

.channel_tabs li {
  list-style: none;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
  font-weight: 600;
}

#presentation_layer{
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 0 0;
  width: 120px;
  height: 3px;
  background-color: #1A1A1D;
  transition: all 0.4s ease-in-out;
}

.leftScroll {
  visibility: hidden;
}

.profile-metrics span:first-child{
  font-weight: bolder;
  display:inline-block;
  margin-right: 10px;
}

.profile-metadata p:first-child {
  font-size: 1.5em;
  font-weight: bold;
}

.displayOverlay {
  display: flex;
}

.subscribeBtn {
  line-height: 40px !important;
  font-family: Roboto !important;
  border-radius: 50px !important;
  background-color: #1a1a1d !important;
  min-width: 140px !important;
  font-size: 14px !important;
  color: #fff !important;
}


.trigger-upload {
  background-color: rgba(237, 240, 241, 0.2);
  width:100%;
  height:120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-template ul {
  margin:0 !important;
  padding:0 !important;
  margin-top: 20px;
}

.content-template ul li {
  line-height: 50px;
  font-family: Roboto;
  font-size: 13.7px;
  padding:0 !important;
  padding-left: 20px !important;
  font-weight: bold;
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  border-left: 4px solid transparent;
  margin-bottom: 5px !important;
}

.bottomLister {
  margin:0;
  padding:0;
  border-top: 1px solid #ccc;
}

.bottomLister li {
  line-height: 40px !important;
  font-family: Roboto;
  font-size: 13.7px;
  padding:0 !important;
  padding-left: 20px !important;
  font-weight: bold;
  display: flex !important;
  align-items: center !important;
  cursor: pointer !important;
  border-left: 4px solid transparent;
  margin-bottom: 5px !important;
}

.channelMenu {
  max-height: 400px;
  overflow-y: scroll;
}

.channelMenu::-webkit-scrollbar {
  width: 12px;
  margin: 0 10px;

}

.channelMenu::-webkit-scrollbar-track {
  padding:0 10px;
}

.channelMenu::-webkit-scrollbar-thumb {
  background: #bbb;
  box-sizing: border-box;
  border: 3px solid white;
  border-radius: 10px;
}

.activeMenu {
  color: crimson !important;
  border-left: 4px solid crimson !important;
  background-color: #f9f9f9 !important;
}



.content-template ul li span {
  padding-left: 20px;
}

.thumbnailTemplates::after {
  content:"+";
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  border: 3px solid #aaa;
}

.wrapperHighlight {
  border: 2px solid #065fd4;
}

.errorHighlight {
  border: 2px solid #dc143c;
}

.uploadTxt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-size: 15px;
  padding:0 15px;
}

.uploadTxt button {
  display: flex;
  align-items: center;
  line-height: 40px;
  margin: 0;
  padding: 0 10px;
  font-size: 15px;
  border: none;
  background-color: rgb(192, 3, 3);
  color: #fff;
  cursor: pointer;
}

.leftCard {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  height:240px;
  border-top: 2px solid orangered;
  box-shadow: 2px 3px 5px #f3f3f3;
}

.leftCard p {
  font-size: 14px;
  padding-bottom: 10px;
  line-height: 20px;
}

.homeMenu li{
  cursor: pointer;
}

.accountContent > div{
  width: 50%;
  padding:10px 10px;
}

.accountSetup > div {
  width: 100%;
  padding:10px 10px;
}

.passwordSetup {
  padding-left: 5px;
  position: relative;
}

.hideEye1, .hideEye2 {
  display: none !important;
}

.success {
  color: rgb(0, 128, 0);
  font-weight: 700;
  list-style-type: "✓ ";
}

.passwordSetup input{
  display: block;
  width: 100%;
  line-height: 40px;
  border-radius: 50px;
  border: 1px solid #ccc;
  outline: none;
  padding:0 10px;
  font-weight: bold;
  font-size: 15px;
}

.setPassword {
  position: relative;
}

.passwordSetup div {
  margin-bottom: 10px;
}

.accountContent, .accountSetup, .passwordSetup {
  margin-bottom: 20px;
}

.accountContent > div > input {
  display: block;
  width: 98%;
  line-height: 40px;
  border-radius: 50px;
  border: 1px solid #ccc;
  outline: none;
  padding: 0 10px;
  font-weight: bold;
  font-size: 15px;
}

.accountSetup > div > input {
  display: block;
  width: 98%;
  line-height: 40px;
  border-radius: 50px;
  border: 1px solid #ccc;
  outline: none;
  padding:0 10px;
  font-weight: bold;
  font-size: 15px;
}

.avatarUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(86, 85, 85);
  width: 200px;
  height: 200px;
  border:1px dashed #000000;
  border-radius: 50%;
  background-color: rgba(173, 216, 230, .5);
  text-align: center;
}

.imageTemplates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupWrapper {
  width: 50%;
  background-color: var(--backgroundLight);
  border-radius: 10px;
  box-shadow: 2px 1px 5px #ddd;
  padding: 20px 30px;
  padding-right: 40px;
  position: relative;
  z-index: 900 !important;
}


.circleDesign1{
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(253, 93, 168,.5);
  position: absolute;
  top:-100px;
  left: -100px;
  z-index: -1;
}

.otpTemplate {
  padding: 50px 20px;
}

.error {
  border: 2px solid red;
}

.otpVerify {
  display: flex;
  justify-content: center;
}

.otpVerify input {
  width: 60px;
  height: 80px;
  display: inline-block;
  margin-left: 20px;
  border-radius: 5px;
  border: 2px solid #ccc;
  font-size: 40px;
  text-align: center;
}

.otpTemplate p {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 20px;
}

.webHeader {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-size: 30px;
}

.circleDesign2 {
  width:200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(253, 93, 168,.5);
  position: absolute;
  bottom:-100px;
  right: -100px;
  z-index: -1;
}

.signupWrapper label{
  font-size: 14px;
  font-weight: 700;
}

.signupWrapper input {
  font-family: Roboto;
  font-size: 14px;
}

.leftPanel {
  margin-left: 20px;
}

.create_studio {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.create_studio div {
  margin-bottom: 20px;

}

.firstItem {
  width: 65%;
}

.services {
  position: relative;
  padding: 40px 0;
  background: url(./images/podcast.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;
}

.services::after {
  content: "";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 80vh;
  background-color: rgba(26, 26, 29, 0.5);
  z-index:50;
}

.sidebar {
  margin:0;
  margin-right:10px;
  background-color: #fff;
  padding:0;
  width: 240px;
  position: fixed;
  padding:0 20px;
  top:0;
  left:0;
  height: 100vh;
  z-index: 200;
  overflow: hidden;
}

.sidebar-spacer {
  visibility: hidden;
  height: 60px;
  width: 100%;
}
.contract {
  width: 44px;
}



.timers::before {
  content: "\00B7";
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  margin-inline: 3px;
}

.timer {
  z-index: 99;
  padding:3px 3px;
  border-radius: 5px;
  background-color: var(--backgroundDark);
  position: absolute;
  color:var(--textColorDark);
  font-size: 13px;
  bottom:5px;
  right: 5px;
}

.bodyTemplate {
  display: flex;
  margin:0;
  padding:0;
  width: 100%;
  height: 90vh;
  max-height: 100vh;
}

.network_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: Roboto, sans-serif;
  color: grey;
}

.network_wrapper > div > p {
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.network_wrapper > div {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyTemplate section {
  height: inherit;
  width:100%;
}


.menu.active {
  background-color: #f4f4f4;
  border-radius: 5px;
  font-weight: bolder;
}



.sidebar li {
  width: 220px;
  list-style-type: none;
  padding:0 5px;
  background-color: #fff;
  line-height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: light;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #f4f4f4;
  border-radius: 5px;
  font-weight: 700;
}

.sidebar li > span {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 50px;
}

.rightIcons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.paperIcon {
  font-size: 20px !important;
}

.editDraft:hover {
  cursor: pointer;
}

.loaderWrapped {
  position: absolute;
  top:10px;
  left:10px;
  background-clip: content-box;
  width:120px;
  height:120px;
  border-radius: 50%;
  background-color: var(--backgroundLight);
  display:block;
  border: 3px solid #f7f7f7;
  /* justify-content:center;
  align-items:center; */
  margin:0 auto;
  overflow:hidden;
}


.slayer {
  overflow-y:auto;
  height:100%;
  padding:20px 20px;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

.blurThumb {
  display: block;
  position: relative;
}

.blurThumb::before {
  content: "";
  display: block;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99;
}

.slayer::-webkit-scrollbar {
  padding:0 10px;
}

.slayer::-webkit-scrollbar-track {
  background-color: transparent;
  width: 10px;
  box-sizing: border-box;
  padding: 10px;
  background-color: var(--backgroundLight);
}

.slayer::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  box-sizing:border-box;
  border: 4px solid white;
  border-radius: 10px;
  width: 5px;
}


@keyframes spin {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-100%) rotate(500deg);
  }
}

/* .bouncer {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(247, 247, 247);
  position: absolute;
  z-index: 1;
} */



/* @keyframes bounce {
  0%{
    width: 0%;
    height: 0%;
    opacity: 0.8;
  };
  50% {
    width: 50%;
    height: 50%;
    opacity: 0.5;
  };
  100%{
    width: 100%;
    height: 100%;
    opacity: 0;
  }
} */

.createButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  background-color: transparent;
  font-size: 18px;
  font-style: Poppins;
  padding:0 10px;
  border: 1px solid #ccc;
  margin-right: 10px;
  cursor: pointer;
  font-variant: small-caps;
}

.dropdownCreate {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdownCreate button {
  margin-right: 10px;

}

.dropdownCreate ul li {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  cursor: pointer;
  line-height: 40px;
}

.dropdownCreate ul li:hover {
  background-color: #dfe3ee;
}

.hideMenu {
  display: none;
}


.avatarSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
}

.site-layout-background {
  background-color: var(--backgroundLight);
  border-right: 1px solid #ccc;
  min-height: 95vh;
  width:270px;
  margin:0;
  z-index: 100;
  padding-top: 20px;
  position: fixed;
  top: calc(100% - (100% - 58px));
  left: 0;
}

.channel-body {
  padding-top: 20px;
  z-index: 1;
  padding-left: calc(100% - (100% - 300px));
  padding-right: 40px;
  font-family: Poppins, sans-serif;
  font-weight: 500px;

}

.content-body {
  padding-top: 20px;
  z-index: 1;
  padding-left: calc(100% - (100% - 280px));
  padding-right: 40px;
  font-family: Poppins, sans-serif;
  font-weight: 500px;
}

.content-template {
  position: relative;
  width: 100%;
  display: flex;
  z-index: 99;
  height: 100%;
  padding-top: calc(100% - (100% - 60px));
}

.templateChannel {
  position: relative;
  max-height: 100%;
  width: 100%;
}

.studioNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--backgroundLight);
  box-shadow: 1px 2px 5px #ccc;
  z-index: 999 !important;
}

.avatarSection p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 30px;
  font-size: 14px;
  text-align: center;
}

.dropdownCreate ul {
  position: absolute;
  margin:0;
  padding:10px 0;
  top:35px;
  right: 20px;
  width: 190px;
  background-color: var(--backgroundLight);
  box-shadow: 1px 1px 5px #ccc;
  z-index: 99;
  border-radius: 5px;
}
.dashed {
  border: 5px dashed #ADD8E6;
}

.MuiDialogContent-root {
  padding:0 !important;
}

.dropdownCreate ul.createList {
  position: absolute;
  margin:0;
  padding:10px 0;
  top:37px;
  right: 10px;
  width: 190px;
  background-color: var(--backgroundLight);
  box-shadow: 1px 1px 5px #ccc;
  z-index: 99;
  border-radius: 5px;
}

.rightIcons:hover {
  background-color: #F4F4F4;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 50px;
  padding:5px 20px;
}

.more-icon {
  font-size: 14px;
  width:35px;
  height:35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expose {
  background-color: #eee;
}

.metadata {
  font-family: Roboto;
  font-size: 20px;
  color: #949494;
  font-weight: 600;
  line-height: 25px;
  flex-basis: 100%;
}



.video_template {
  min-height: 92vh;
  width: 90vw;
  margin:0 auto;
  margin-top: 20px;
}

.video_content {
  max-width: 956px;
  height: 100vh;
}

.left-section-video {
  max-width: 956px;
}

.video-container {
  width: 100%;
  max-width: 956px;
  position:relative;
  background-color: var(--backgroundDark);
}

.video-container:hover {
  cursor: pointer;
}

.video-container video {
  width: 100%;
  aspect-ratio: 16/9;
}

.video-controls-container {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  color: var(--textColorDark);
  z-index: 300;
  opacity:0;
  transition: opacity 150ms ease-in-out;
}


.timeline-container {
  height: 7px;
  margin:0;
  cursor: pointer;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.timeline-container:hover .timeline {
  height: 100%;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: red;
  transition: transform 1s ease-in-out;
}

.timeline {
  background-color: rgba(100, 100, 100, .5);
  height: 3px;
  width: 100%;
  position: relative;
}

.video-controls-container .controls .wide-btn {
  width: 50px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
}

.timeline .thumb-indicator {
  --scale: 1;
  position: absolute;
  transform: translateX(-50%) scale(--scale);
  height: 200%;
  top:-50%;
  left: calc(var(--progress-position) * 100%);
  background-color: red;
  border-radius: 50%;
  transition: transform 1s ease-in-out;
  aspect-ratio: 1 / 1;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 2;
  position: absolute;
  transform: translateX(-50%) scale(--scale);
  height: 300%;
  top:-50%;
  left: calc(var(--progress-position) * 100%);
  background-color: red;
  border-radius: 50%;
  transition: transform 1s ease-in-out;
  aspect-ratio: 1 / 1;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-description {
  background-color: #eee;
  color: var(--textColorLight);
  font-family: Roboto;
  padding:10px 20px;
  border-radius: 5px;
  margin-top:20px;
}

.comment-section {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.input-artifact {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100%;
  flex-shrink: 1;
}

.comment-area {
  margin-top: 20px;
}

.comment-input-section {
  word-wrap:normal;
  word-break: break-word;
  position: relative;
  padding-top: 10px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  display: block;
  width: calc(100% - 5px);
  font-weight: bold;
  outline: none;
  border-bottom: 1px solid #3a3a3d;
}

.emoji-pack {
  display: inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.emoji-pack:hover {
  background-color: #eee;
}

.comment-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}

.comment-input-section::before {
  content: "Add a comment...";
  pointer-events: none;
  width: inherit;
  z-index: -1;
  display: block;
}

.text::before {
  content: none;
}



.video-description p:first-child {
  font-weight: bolder;
  font-size: 16px;
  line-height: 40px;
}

.video-description p:last-child {
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
}

.video-container:hover .video-controls-container,
.video-container.paused .video-controls-container{
  opacity: 1;
}


.video-container .full-screen {
  max-width: initial;
  width: 100%;
  max-height: 100vh;
}

.video-container.full-screen .full-screen-btn {
  display: none;
}

.video-container:not(.full-screen) .exit-full-screen-btn {
  display:none;
}

.volume-container {
  display: flex;
  align-items: center;
}

.volume-slider {
  width: 0;
  height: 15px;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

.volume-container:hover .volume-slider {
  width: 100px;
  transform: scaleX(1);
}

.video-controls-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
  width:100%;
  aspect-ratio: 6 / 1;
  z-index: -1;
  pointer-events: none;
}

.mute-btn,
.volume-high-icon,
.middle {
  display:none;
}


.video-details {
  padding: 20px 0;
  font-family: Roboto;
}

.video-controls-container .controls {
  display: flex;
  gap: .5rem;
  padding-left: .25rem;
  padding-right: .25rem;
  margin-bottom: 5px;
  align-items: center;
}

.theater-mode {
  font-size: 24px;
}

.settings-btn {
  transition: all .2s ease-in-out;
}

.settings-btn:hover {
  transform: rotateZ(-45deg);
}

.duration-container {
  display: flex;
  align-items: center;
  gap:.25rem;
  flex-grow: 1;
  font-family: Roboto;
}

.duration-container * {
  font-size: 16px;
}

.video-container[data-volume="high"] .volume-high-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition: all 0.5s ease-in-out;
}

.video-container[data-volume="middle"] .middle {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  transition: all 0.5s ease-in-out;
}

.video-container[data-volume="low"] .mute-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.video-controls-container .controls > button {
  background: none;
  border: none;
  color: var(--textColorDark);
  padding: 0;
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-controls-container .controls button {
  background: none;
  border: none;
  color: var(--textColorDark);
  padding: 0;
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  cursor: pointer;
}


.video-container.paused  .pause-icon {
  display:none;
}

.video-container:not(.paused)  .play-icon {
  display:none;
}


.search {
  line-height: 40px;
  width: 38vw;
  border-radius:50px 0 0 50px;
  border: 1px solid #d4d4d4;
  padding-left: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  font-family: Roboto;
  box-shadow: inset 0px 1px #ddd
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  background-color: var(--backgroundLight);
  height: 60px;
}

.search-input {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.search-text {
  margin-left: 10px;
}

.result-list {
  margin:0;
  padding:10px 10px;
}

.result-list li {
  margin-bottom: 10px;
  line-height: 20px;
  list-style-type: none;
  font-family: Roboto;
}

.result-list li * {
  vertical-align: middle;
}

.search-results {
  padding:5px 10px;
  position: absolute;
  background-color: var(--backgroundLight);
  box-shadow: 1px -1px 5px #ddd;
  padding-bottom: 20px;
  top: 50px;
  left:0px;
  z-index:400;
  height: 400px;
  width: 100%;
  border-radius: 5px 5px 5px 5px;
  display: block;
}

.showContent {
  display:block;
}


.videoTab {
  display: grid;
  justify-content:center;
  height: 100%;
  max-height: 100vh;
  row-gap: 10px;
  margin-top: 60px;
  margin-left: 240px;
  column-gap: 10px;
  z-index: -1;
  /* grid-template-columns: repeat(auto-fill, minmax(280px, 330px)); */
  grid-template-columns: var(--grid-columns);
}

.content {
  margin-top:60px;
  margin-left: 250px;
  padding: 10px 10px;
  font-family: Roboto;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.account h3 {
  line-height: 50px;
}

.descriptionSettings {
  margin:0;
  padding:0;
  padding-bottom: 20px;
}

.settings {
  position: relative;
}

.overlaypanel-demo {
  width: 300px;
  box-shadow: 3px 5px 20px 5px #eee;
  border-radius: 5px;
  padding: 10px auto;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
}

.overlaypanel-demo ul {
  margin:0;
  padding:0;
}

.overlaypanel-demo ul li {
  list-style-type: none;
  line-height: 40px;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account_details {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-weight: bold;
}

.account_details > div > p {
  line-height: 40px;
  font-size: 17px;
}

.account_details img {
  object-fit: cover;
}

.uc-channel-utilities {
  padding-bottom: 20px;
}

.overlaypanel-demo ul li:first-child {
  background-color: rgb(220, 237, 242);
  border: 2px solid rgb(137, 206, 229);
  border-radius: 5px;
}


.checkmark {
  color: rgb(137, 206, 229);
  font-weight: bold;
}

.selectorChannel {
  border: none;
  line-height: 60px;
  width: 130px;
  height: 35px;
  font-size: 16px;
  color: #fff;
  font-family: Roboto;
  border-radius: 50px;
  font-weight: bold;
  background-color: lightblue;
}

.channelAction {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}

.channelAction > div {
  margin-left: 30px;
}

.account {
  padding-top: 20px;
  width: 70vw;
}

.account h2 {
  line-height: 100px;
}

.settings ul {
  position: fixed;
  margin:0 20px;
  padding:0;
  font-family: Roboto;
  width: 250px;
}

.settings ul li {
  list-style-type: none;
}

.settings ul li:not(.headline) {
  line-height: 35px;
  cursor: pointer;
  padding: 3px 5px;
  font-size: 15px;
  font-weight: 700;
}

.settings ul li:last-child {
  color: crimson;
}

.settings ul li:hover:not(.headline) {
  background-color: #e7e7e7;
  border-radius: 5px;
}

.settings ul li:first-child {
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
}

.channelData {
  margin-top: 60px;
  margin-left: 240px;
  padding-left: 15px;
}

.title_video {
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--textColorLight);
}

.profile_menu {
  position: relative;
}

.profile_menu .dropdown {
  position: absolute;
  left: -300px;
  top: 20px;
  background-color: var(--backgroundLight);
  z-index: 100;
  padding:20px 10px;
  border-radius: 5px;
  box-shadow: 3px 5px 20px 5px #eee;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  width: 300px;
}

.profile_menu .dropdown ul li {
  cursor: pointer;
}

.profile_menu .dropdown ul li:hover {
  background-color: #f4f4f4;
  border-radius: 5px;
}


.uc-banner {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.dropdown ul li {
  display: flex;
  align-items: center;
}

.uc-banner > div {
  margin-left: 10px;
}

.uc-banner > div > p {
  margin:0;
  padding:0;
  line-height: 30px;

}

.title_video:hover a {
  color: #065fd4;
}

.video_metadata {
  display: flex;
  align-items: flex-start;

}

.videoTab > div {
  /* max-width: 360px;
  min-width: 320px; */
  /* grid-row: 1 / 4; */
  /* display: flex;
  flex: 0 1 0;
  flex-direction: column;
  align-items: flex-start; */
  margin: 20px 0;
  transition: all 0.3s linear;

}




.videoTab > div > img {
  object-fit: cover;

}

.textServices {
  z-index: 100;
}

@keyframes swingbanner {
  0% {
    background-position: 50% 70%;
  };
  50% {
    background-position: -50% 70%;
  };
  100% {
    background-position: 50% 70%;
  }
}

.homeBanner::before {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  background-color: rgba(26, 26, 29, 0.4);
  width: 100%;
  height: 90vh;
  z-index: 100;
}

.bannerText {
  z-index: 200;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.mynav {
  background-color: var(--backgroundLight);
  width: 100%;
  z-index: 400;
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mynav ul {
  margin: 0;
  padding: 0;
}

.mynav ul li {
  display: inline-block;
  line-height: 40px;
  color: var(--textColorLight);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  padding: 0 10px;
  font-size: 14px;
}

.logoBanner {
  mix-blend-mode: multiply;
}

.maintext > * {
  font-family: Poppins, sans-serif;
}

.maintext {
  display: flex;
  flex-direction: row-reverse;
  width: 85%;
  margin:0 auto;
  margin-bottom: 30px;
}

.maintext div {
  width: 55%;
  z-index: 250;
}

.maintext h1{
  margin:0;
  padding:0;
  line-height: 40px;
  font-size: 50px;
}

.bannerText > * {
  color: var(--textColorDark);
}

.channel-name-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 14px;
  gap: .25rem;
}

.channel-details {
  display: flex;
  gap: .25rem;
  align-items: center;
  padding:10px 0;
}


.subscribe-btn {
  line-height: 40px;
  border-radius: 50px;
  background-color: #065fd4;
  color: var(--textColorDark);
  border: none;
  width: 110px;
  font-size: 16px;
  font-family: Roboto;
  box-shadow: 2px 2px 5px #ddd;
}

.actionBtns {
  display: inline-block;
  position: absolute;
  width: 120px;
  height: 120px;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
}

.lds-ring {
  display: none;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 5px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}



/* thumbnail generation loader */
.status-reporter {
  display: flex;
  flex-direction: row;
}



@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.status-reporter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ripple div {
  position: absolute;
  border: 2px solid blue;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 15px;
    left: 15px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 15px;
    left: 15px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 15px;
    left: 15px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
}





