SECRET_KEY=


POSTGRES_URL=postgres://<POSTGRES_USER>:<POSTGRES_PASSWORD>@<POSTGRES_HOST>:<POSTGRES_PORT>/<POSTGRES_DB>

POSTGRES_HOST=postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=5432

REDIS_URL=redis://redis:6379/0

DEFAULT_FROM_EMAIL=<ENTER_AN_ACTIVATED_SENDER_EMAIL>

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_ADMIN_EMAIL=

# settings for pgbouncer
POSTGRESQL_USERNAME=
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=
POSTGRESQL_HOST=
POSTGRESQL_PORT=
PGBOUNCER_PORT=
PGBOUNCER_MAX_CLIENT_CONN=
PGBOUNCER_DEFAULT_POOL_SIZE=
