SECRET_KEY=

POSTGRES_URL=

POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

REDIS_URL=

DEFAULT_FROM_EMAIL=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_ADMIN_EMAIL=

# settings for pgbouncer
POSTGRESQL_USERNAME=
POSTGRESQL_PASSWORD=
POSTGRESQL_DATABASE=
POSTGRESQL_HOST=
POSTGRESQL_PORT=
PGBOUNCER_PORT=
PGBOUNCER_MAX_CLIENT_CONN=
PGBOUNCER_DEFAULT_POOL_SIZE=
